/*////// MESSAGE PAGE D ACUEIL /////*/
#msgAccueil1, #msgAccueil2{
    text-align: center;
    color: white;
    font-size: 20px;
}
/*   sup surlignemen a */
#lien, #lien2{
    text-decoration:none;
    font-family: Luminari, Georgia, serif;
}
#divGlobale {
    font-family: Luminari, Georgia, serif;
}
h1{
    z-index : 1000;
}
#main {
    color: white;
}
#letters {
    width : 100%;
    display: inline-flex;
    color: white;
    opacity : 90%;
    margin : 0 auto;
}

.letter {
    text-shadow: 0 0 5px dimgrey, 0 0 10px black;
    font-size: 0.50em;
    animation-name: right;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-timing-function: linear;
}
.letter2{
    animation-name: up;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-timing-function: linear;
}
.letter:nth-child(2){
    animation-delay: 3.3s;
}
.letter:nth-child(3){
    animation-delay: 3.3s;
}
.letter:nth-child(4){
    animation-delay: 3.2s;
}
.letter:nth-child(5){
    animation-delay: 3.1s;
}
.letter:nth-child(6){
    animation-delay: 3.2s;
}
.letter:nth-child(7){
    animation-delay: 3.3s;
}
.letter:nth-child(8){
    animation-delay: 3.1s;
}
.letter:nth-child(9){
    animation-delay: 3.5s;
}
@keyframes right {
    0%{
        transform: translate(0,0) skew(0);
    }
    5% {
        transform: translate(40%, 0) skew(-5deg);
    }
    10% {
        transform: translate(80% , 0) skew(8deg);
    }
    15% {
        transform: translate(120% ,0) skew(-7deg);
    }
    20% {
        transform: translate(160%, 0) skew(4deg);
    }
    25% {
        transform: translate(200%, 0) skew(0);
        opacity: 0;
    }
    30%{
        transform: translate(0, 0) skew(0);
        opacity: 0;
    }
    31%{
        transform: translate(0, 0) skew(0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0) skew(0);
        opacity: 1;
    }
}

/*//////////////////:accueil/////////////////////*/

#fantome1, #fantome2, #fantome3, #fantome4, #fantome5, #fantome6, #fantome3b, #fantome4b, #fantome5b, #fantome6b{
    position : absolute;
}
/*  ///////////////////////////////////// ANIMATION ////////////////////////// * /
/* ///////////////////////////////////  FANTOME AVANT ANIMATION  /////////////////  */
.fantome1 {
    z-index: 100;
    animation-name: flotte;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    opacity: 70%;
    animation-timing-function: linear;
}
.fantome2{
    z-index: 100;
    animation-name: flotte;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    opacity: 70%;
    animation-timing-function: linear;
}

@keyframes flotte{
    0% {
        transform: translate(0px, 0px) rotate(0deg)
    }
    12.5%{
        transform: translate(5px, -5px) rotate(-1deg)
    }
    25%{
        transform: translate(10px, 0px) rotate(1deg)
    }
    37.5%{
        transform: translate(5px, -5px) rotate(0deg)
    }
    50%{
        transform: translate(0px, 0px) rotate(-1deg)
    }
    67.5%{
        transform: translate(-5px, -5px) rotate(1deg)
    }
    75%{
        transform: translate(-10px, 0px) rotate(0deg)
    }
    87.5%{
        transform: translate(-5px, -5px) rotate(-1deg)
    }
    100% {
        transform: translate(0px, 0px) rotate(1deg)
    }
}

/*////////////////////////////////////// ANIMATION  IPHONE ////////////////////////////////*/

.classGagnant1{
    z-index : 200;
    animation-name: avancer;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}
.classGagnant2{
    z-index : 200;
    animation-name: avancer2;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}
@keyframes avancer{
    0%{
        transform: translate(5%, -20%) rotate(0deg) scale(1);
    }
    100%{
        transform: translate(100%, -20%) rotate(360deg) scale(3);
    }
}
@keyframes avancer2{
    0%{
        transform: translate(0%, 0%) rotate(0deg) scale(1);
    }
    100%{
        transform: translate(-50%, 110%) rotate(360deg) scale(3);
    }
}
/*//////////////////////////////////////////////  ANIMATION   TABLETTE    ///////////////////////////    */

.classGagnant3{
    z-index : 200;
    animation-name: avancer3;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}

.classGagnant4{
    z-index : 200;
    animation-name: avancer4;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}
.classGagnant3b{
    z-index : 200;
    animation-name: avancer3b;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}

.classGagnant4b{
    z-index : 200;
    animation-name: avancer4b;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}
@keyframes avancer3{
    0%{
        transform: translate(0%, 0%) rotate(0deg) scale(1);
        opacity: 0;
    }
    100%{
        transform: translate(180%, -100%) rotate(360deg) scale(3);
        z-index: 300;
        opacity : 0.9;
    }
}
@keyframes avancer4{
    0% {
        transform: translate(0px, 0%) rotate(0deg) scale(1);
        opacity: 0;
    }
    100% {
        transform: translate(-100%, 190%) rotate(360deg) scale(3);
        z-index: 300;
        opacity: 0.9;
    }
}
@keyframes avancer3b{
    0%{
        transform: translate(0%, 0%) rotate(0deg) scale(1);
        opacity: 0;
    }
    100%{
        transform: translate(-200%, -20%) rotate(360deg) scale(3);
        z-index: 300;
        opacity : 0.9;
    }
}
@keyframes avancer4b {
    0% {
        transform: translate(0%, 0%) rotate(0deg) scale(1);
    }
    100% {
        transform: translate(-60%, -140%) rotate(360deg) scale(3);
        z-index: 300;
        opacity: 0.9;
    }
}
/*////////////////////////////////////  ANIMATION   ORDINATEUR  ET  LANDSCAP  //////////////////////    */

.classGagnant5{
    z-index : 200;
    animation-name: avancer5;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}

.classGagnant6{
    z-index : 200;
    animation-name: avancer6;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}
.classGagnant5b{
    z-index : 200;
    animation-name: avancer5b;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}

.classGagnant6b{
    z-index : 200;
    animation-name: avancer6b;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}
@keyframes avancer5{
    0%{
        transform: translate(0%, 0%) rotate(0deg) scale(1);
        opacity: 0;
    }
    100%{
        transform: translate(450%, -30%) rotate(360deg) scale(3);
        z-index: 300;
        opacity : 0.9;
    }
}
@keyframes avancer6 {
    0% {
        transform: translate(0px, 0%) rotate(0deg) scale(1);
        opacity: 0;
    }
    100% {
        transform: translate(240%, 200%) rotate(360deg) scale(3);
        z-index: 300;
        opacity: 0.9;
    }
}
@keyframes avancer5b{
    0%{
        transform: translate(0%, 0%) rotate(0deg) scale(1);
        opacity: 0;
    }
    100%{
        transform: translate(-350%, -20%) rotate(360deg) scale(3);
        z-index: 300;
        opacity : 0.9;
    }
}
@keyframes avancer6b {
    0% {
        transform: translate(0%, 0%) rotate(0deg) scale(1);
    }
    100% {
        transform: translate(-60%, -140%) rotate(360deg) scale(3);
        z-index: 300;
        opacity: 0.9;
    }
}

/*//////////////////////////////////////    TELEPHONE    /////////////////////////    */

@media only screen and (max-width:600px) and (orientation : portrait)   {

    body{
        background: url("photos/Halloween/FORMAT_MOBILE_1125X2436px.png") no-repeat;
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
        overflow: hidden;
        height: 100%;
        align-content: center;
        justify-content:center;
    }
    #letters {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        margin-top: 50%;
        vertical-align: center;
        font-size: 1rem;
    }
    .letter{
        font-size: 100%;
    }
    @media screen and (max-width:300px)  {
        .letter{
            font-size: 50%;
        }
    }
    #divAccueilPhone{
        margin-top: 30%;
        margin-bottom: auto;
        height: 100%;
        vertical-align: center;
        text-align: center;
        visibility : visible;
    }
    #divAccueilTablette,#divAccueilOrdi {
        display: none;
    }

    #fantome1{
        width: 30%;
        top : 40%; left : 0;
    }
    #fantome2{
        width: 30%;
        top : 5%; left : 50%;
    }
    .btn_class{
        z-index : 1001;
        position: absolute;
        width: 30%;
        height: 5%;
        top : 90% ; left : 40%;
        background-color: #f07e26;
        border-color: #f07e26;
    }
    #formProfil{
        width: 95%;
        position: center;
        vertical-align: center;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
    }
    #formProfil input[type=text], #formProfil input[type=email]{
        width: 65%;
        margin-top: 3px;
    }
    .labelClient{
        width: 30%;
    }
    /*         CAS DE TIRAGE AU SORT    */
    #resultatTirage{
        z-index : 400;
        text-align: center;
        vertical-align: center;
        margin : 2% 2%;
        height: auto;
        color: white;
        text-shadow: #3b3f48 0.1em 0.1em 0.2em;
        border-radius: 5px;
    }
    #divResultat2{
        margin-top: 60%;
    }
    #phraseFin, #phraseFin2{
        margin-top: 50%;
    }
}

/*  ///////////////////////////////////////////////  TABLETTE  //////////////////////////////  */

@media only screen and (min-width:600px) and (max-width:1030px) and (orientation : portrait) {
    html {
        margin: 0;
        padding: 0;
    }
    body{
        background: url("photos/Halloween/ECRAN_LARGE_1920x1980px.png") no-repeat center fixed;
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items:center;
        justify-content:center;
    }

    .letter{
        font-size: 300%;
    }
    #divAccueilTablette {
        margin-top: 30%;
        margin-bottom: auto;
        height: 100%;
        text-align: center;
        visibility: visible;
    }
    #divAccueilPhone,#divAccueilOrdi {
        display: none;
    }
    #fantome3{
        z-index: 150;
        width: 20%;
        top: 60%;
        left: 5%;
    }

    #fantome4 {
        z-index: 150;
        width: 16%;
        top: 10%;
        left: 60%;
    }
    #fantome3b{
        z-index: 150;
        width: 20%;
        top: 40%; left: 80%;
    }

    #fantome4b{
        z-index: 150;
        width: 16%;
        top: 65%; left: 50%;
    }
    .btn_class{
        z-index : 1001;
        position: absolute;
        width: 10%;
        height: 7%;
        font-size: 1em;
        top : 90% ; left : 45%;
        background-color: #f07e26;
        border-color: #f07e26;
    }
    #formProfil{
        width: 80%;
        margin : auto auto;
    }
    #formProfil input[type=text], #formProfil input[type=email]{
        width: 100%;
        margin-top: 1px;
    }
    .labelClient{
        width: 25%;
    }
    /*         CAS DE TIRAGE AU SORT    */
    #resultatTirage{
        z-index : 400;
        text-align: center;
        vertical-align: center;
        margin : 2% 2%;
        height: auto;
        color: white;
        text-shadow: #3b3f48 0.1em 0.1em 0.2em;
        border-radius: 5px;

    }
    #phraseFin, #phraseFin2{
        margin-top: -30%;
    }
}


/* ////////////////////////////////////////  ORDINATEUR /////////////////////////////// */

@media only  screen and (min-width:1030px)   {

     html {
         margin:0;
         padding:0;
     }
     body{
         background: url("photos/Halloween/ECRAN_LARGE_1920x1980px.png") no-repeat center fixed;
         -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items:center;
        justify-content:center;
    }
    .letter{
        font-size: 2em;
    }

    #divAccueilOrdi{
        margin-top: 10%;
        margin-bottom: auto;
        height: 100%;
        text-align: center;
        visibility : visible;
    }
    #divAccueilPhone,#divAccueilTablette {
        display: none;
    }
    #fantome5{
        z-index : 150;
        width: 10%;
        top : 40%; left : 0;
    }
    #fantome6{
        z-index : 150;
        width: 7%;
        top : 5%; left : 30%;
    }
    #fantome5b{
        z-index: 150;
        width: 10%;
        top: 40%; left: 80%;
    }

    #fantome6b {
        z-index: 150;
        width: 8%;
        top: 65%; left: 50%;
    }
    .btn_class{
        z-index : 1001;
        position: absolute;
        width: 10%;
        height: 7%;
        font-size: 2em;
        top : 90% ; left : 45%;
        background-color: #f07e26;
        border-color: #f07e26;
    }
    #formProfil{
        width:60%;
        height: auto;
        margin : auto auto;

    }
    #formProfil input[type=text], #formProfil input[type=email]{
        width: 70%;
        margin-top: 1px;
    }
    .labelClient{
        width: 25%;

    }
    /*         CAS DE TIRAGE AU SORT    */
    #resultatTirage{
        z-index : 400;
        text-align: center;
        vertical-align: center;
        margin : 2% 2%;
        height: auto;
        color: white;
        text-shadow: #3b3f48 0.1em 0.1em 0.2em;
        border-radius: 5px;

    }
}
/*   /////////////////////////////  HORIZONTAL  //////////////////////  */
@media only screen and (orientation:landscape) {
    #letters {
        font-size: 2em;
    }
    html {
        margin:0;
        padding:0;
    }
    body{
        background: url("photos/Halloween/ECRAN_LARGE_1920x1980px.png") no-repeat fixed 50% 50%;
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items:center;
        justify-content:center;
    }

    .letter{
        font-size: 1em;
    }
    #divAccueilOrdi{
        margin-bottom: auto;
        height: 100%;
        text-align: center;
        visibility : visible;
        display: flex;

    }
    #divAccueilPhone,#divAccueilTablette {
        display: none;
    }
    #fantome5{
        z-index : 150;
        width: 10%;
        top : 40%; left : 0;
    }
    #fantome6{
        z-index : 150;
        width: 7%;
        top : 5%; left : 30%;
    }
    #fantome5b{
        z-index: 150;
        width: 10%;
        top: 40%; left: 80%;
    }

    #fantome6b {
        z-index: 150;
        width: 8%;
        top: 65%; left: 50%;
    }
    .btn_class{
        z-index : 1001;
        position: absolute;
        width: 10%;
        height: 7%;
        font-size: 0.7em;
        top : 90% ; left : 45%;
        background-color: #f07e26;
        border-color: #f07e26;
    }
    #formProfil{
        width: 80%;
        margin : auto auto;

    }
    #formProfil input[type=text], #formProfil input[type=email]{
        width: 70%;
        margin-top: 1px;
    }
    .labelClient{
        width: 25%;

    }
    /*         CAS DE TIRAGE AU SORT    */
    #resultatTirage{
        z-index : 1000;
        text-align: center;
        vertical-align: center;
        margin : 2% 2%;
        color: white;
        text-shadow: #3b3f48 0.1em 0.1em 0.2em;
        border-radius: 5px;
        position: relative; /* postulat de départ */
    }
}

@media print and (max-width:21cm) {
    /* Règles CSS pour une une impression sur une largeur de 21cm maximum */
}
@media not print {
    /* Règles CSS pour tous les périphériques sauf les imprimantes */
}
#divResultat2{
    box-shadow: #3b3f48 0.1em 0.1em 0.2em;
    color : white;
    width: 70%;
    height: auto;
    background-size: 60%;
    background-color: #f07e26;
    z-index : 400;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);

    border-radius: 10%;
    border-width : 5px;
    border-style: solid;
    border-color: #3b3f48 ;
}
/*////// CREATION DU BUTTON /////*/

.classHide{
    display : none;
}
.cacher{
    visibility: hidden;
}
.neutre{
    z-index: 500;
}

#photoHalloween, #photoHalloween2{
    z-index : 2;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
/*//////////////inscription///////////////////////*/
#formProfil{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background:#f07e26 ;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    horiz-align: center;
    box-shadow: #3b3f48 0.1em 0.1em 0.2em;
    text-shadow: #3b3f48 0.1em 0.1em 0.2em;
    border-radius: 10%;


    border-width : 5px;
    border-style: solid;
    border-color: #3b3f48 ;
}
#formProfil input, #formProfil input[type=Checkbox]{
    border-radius: 5px;
}
.checkbox{
    size: 50px;
    box-shadow: #3b3f48 0.1em 0.1em 0.2em;
    border-radius: 5px;
}
#btnProfil{
    margin-top: 2%;
}
#formProfil>h2{
    text-shadow: #3b3f48 0.1em 0.1em 0.2em;
    text-align: center;
}

#suivant:hover{
    background-color: #3b3f48;
    color : white;
}
#submit:hover, #reset:hover{
    background-color: #3b3f48;
    color : white;
}

#checkLabel, #checkLabel2{
    margin :3px;
}

/* ////// FIN //////*/
#phraseFin, #phraseFin2{
    width: 90%;
    color : white;
    vertical-align: central;
    text-align: center;
    align-content: center;
    position: center;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Luminari, Georgia, serif;
    text-shadow: 0 0 5px dimgrey, 0 0 10px black;
    opacity: 0.9;
}
.bonAchatGagnant2{
    z-index : 200;
    animation-name: bonAchatGagant2;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes bonAchatGagant2{
    0%{
        opacity: 0;
    }
    50%{
        opacity : 0.5;
    }
    100%{

        opacity : 1;
    }
}
/*       CAS AVEC HOTESSE       */

/*
#divResultat1{
    color : white;
    background-color: #f07e26;
    z-index : 400;
    width: 95%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}   */
#divResultatPhoto, #imgResultat{
    position: relative;
    z-index: 1000;
    transform-origin: center;

}
.bonAchatGagnant{
    z-index : 1000;
    animation-name: bonAchatGagant1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
    position: relative;
    transform-origin: center;
}
@media only screen and (max-width:600px) and (orientation : portrait) {
    @keyframes bonAchatGagant1 {
        0% {
            transform: translate(0%, 0%) scale(0.2);
            opacity: 0;
        }
        100% {
            transform: translate(0%, 0%) scale(0.6);
            opacity: 1;
            z-index: 900;
        }
    }
}
@media only screen and (min-width:600px) {
    @keyframes bonAchatGagant1 {
        0% {
            transform: scale(0.2);
            opacity: 0;
        }
        100% {
            transform:  scale(0.6);
            opacity: 1;
            z-index: 900;
        }
    }
}
/*
body{
    margin: 0;
    color: #1B2631;
    font-family: Tahoma;
    background-color: #F2F3F4;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

input,.btnConnexion{
    padding: 5px 10px;
    border-radius: 0;
    border: none;
    width: 150px;
    margin: 10px auto;
    outline: none;
}

.btnConnexion{
    background: #E74C3C;
    color: white;
    transition: 0.2s;
}


.btnConnexion:hover{
    background: #F4D03F;
    color: white;
}

#h1Layout{
    color: white;
}

*/
/*/////////////////header-nav//////////////////////*/
/*
header{
    background-color: #1B2631;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.aMenu{
    padding: 4px;
    transition: 0.2s;
    margin: 0px 4px 0px 4px;

}

.aMenu:hover{
    background-color: #E74C3C;
    color: white;
}
*/
/*////////////////////connection///////////////////*/
/*
#wrap{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formConnexion{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formConnexion>input{
    background: white;
}

#h2FormConnexion{
    margin-bottom: 40px;
    color: #1B2631;
}

#lblRemember{
    color: #1B2631;

}
#remember_me{
    width: 20px;
    position: relative;
    top: 2px;
}

#aMdpOublier{
    color: #1B2631;
}

#pMdpOublier:hover{
    border-bottom: 1px solid #1B2631;
}
#formConnexion>div>input{
    border: 1px solid #1B2631;
}
*/
/*            PARTI MOT ANIME      */
/*
$red : red;
$blue : blue;
$green : green;
*/
/*
body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: #000;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size:3rem;
}
*/
/*
#divSite2, #divSite, #divCV {
    text-align: center;
    padding: 5px 10px;
    border-radius: 0;
    border: none;
    margin: 10px auto;
    position: relative;
    width: 200px;
    height: 300px;
    float: left;
    background: #1B2631;
    color: white;
    transition: 0.2s;
    margin-left: 10px;
    margin-right: 10px;
}

#divSite:hover, #divSite2:hover, #divCV:hover{
    background: #E74C3C;
    color: white;
} */
/*///////////////////////////////////////////////////*/
/*////////////////administrateur/////////////////////*/
/*
.divAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
*/




