{% extends 'layout.html.twig'%}

{%  block body %}
    {% if  message  == "CLIQUEZ POUR COMMENCER" %}

    <div id="divGlobale">
        <div id="divAccueilPhone">
            {% include 'corpsAccueil.html.twig'%}
        </div>

        <div id="divAccueilTablette">
            {% include 'corpsAccueil.html.twig'%}
        </div>

        <div id="divAccueilOrdi">
            {% include 'corpsAccueil.html.twig'%}
        </div>
    </div>
    {% else %}
        <h3 id="msgAccueil1">{{ message }}</h3><br>
        <h3 id="msgAccueil2">{{ date }}</h3>

    {% endif %}
{% endblock %}
{% block title %}Accueil{% endblock %}
