{% extends 'layout.html.twig' %}

{% block main %}
    <h2 id="h2Profil"> Modifier Profil</h2>
    <div id="container">
        <div id="photoProfils">
            <img src="{{ asset('photos/') ~photo }} " width="150" alt="">
        </div>
        <div class="formProfil form-inline">
            {{ form_start(formInscription) }}
            {{ form_widget(formInscription) }}

            <div id="btnProfil">
                <button type="submit" id="submit" name="submit">Enregistrer</button>
                <button type="reset" id="reset" name="reset">Annuler</button><br><br>
            </div>
                {{ form_end(formInscription) }}
        </div>
    </div>
{% endblock %}
