{% extends 'layout-admin.html.twig' %}

{% block main %}
<div id="divAdmin">
   <h1 class="adminTitre1">Page Administrateur</h1>

 <br><h3 class="adminTitre">Clients :</h3>
 <label>Afficher les clients du jeux sans hotesse : </label><button class="btnAdministrateur" ><a href="{{ path('clients_profils') }}">Jeu Sans Hotesse</a></button><br>
 <label>Afficher les clients du jeux avec hotesse : </label><button class="btnAdministrateur" ><a href="{{ path('clients_profils_hotesse') }}">Jeu Avec Hotesse</a></button><br>

 <h3 class="adminTitre">Utilisateurs :</h3>
 <label>Afficher les administrateurs : </label><button class="btnAdministrateur" ><a href="{{ path('profils') }}"> Afficher </a></button><br>
 <label>Créer un nouveau administrateur : </label><button class="btnAdministrateur" ><a href="{{ path('inscription_user') }}"> Inscription </a></button><br>
</div>
{% endblock %}
{% block title %}Administrateur{% endblock %}
